@keyframes fade-in {
	0% {
		opacity: 0; /* Start with full transparency (invisible) */
	}
	100% {
		opacity: 1; /* End with full opacity (visible) */
	}
}

.full-about {
	animation: fade-in 0.7s ease-in-out;
}

.full-width-section {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding-right: 96px;
	padding-left: 96px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.about-cloud-container {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
	margin: 36px auto;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.about-cloud-image {
	position: absolute;
	width: 250px;
	height: auto;
	border-radius: 12px;
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
	transition: all 0.3s ease-out;
}

.about-cloud-image.olive {
	position: relative;
	top: 31px;
	right: -23px;
	width: 22%;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}

.about-cloud-image.waterfall {
	position: relative;
	top: 17px;
	z-index: 2;
	width: 28%;
}

.about-cloud-image.bridge {
	position: relative;
	left: -20px;
	top: -13px;
	width: 28%;
	height: 220px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
	-o-object-fit: cover;
	object-fit: cover;
}

.single-column-section {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 96px;
	padding-top: 32px;
	padding-bottom: 32px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: start;
	align-items: flex-start;
	max-width: 664px;
	padding-right: 32px;
	padding-left: 32px;
}

.colored-h1-small {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	margin: 0.67em 0;
	margin-top: 0px;
	margin-bottom: 12px;
	line-height: 140%;
	font-weight: 700;
	position: relative;
	display: inline-block;
	background-image: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
	font-size: 36px;
	text-align: left;
	letter-spacing: -1.25px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 24px;
}

.case-paragraph {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	font-weight: 400;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 24px;
	color: #323235;
	font-size: 18px;
	line-height: 170%;
}

.link-text {
	color: #323235;
	border-radius: 0;
	padding-left: 1px;
	padding-right: 1px;
	transition: border-radius 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		box-shadow 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
	box-shadow: 0 2px #bdbdc5, inset 0 -1px #bdbdc5;
}

.link-text:hover {
	color: #0e0e0f;
	border-radius: 4px;
	box-shadow: 0 0 0 2px rgba(189, 189, 197, 0.3),
		inset 0 -40px rgba(189, 189, 197, 0.3);
}

@media screen and (max-width: 767px) {
	.about-cloud-image.olive {
		width: 28%;
	}

	.about-cloud-image.waterfall {
		width: 36%;
	}

	.about-cloud-image.bridge {
		width: 30%;
		height: 170px;
	}

	.about-cloud-container {
		height: auto;
		margin-bottom: 32px;
	}

	.single-column-section {
		width: 100%;
		max-width: 664px;
		padding-right: 64px;
		padding-left: 64px;
	}
}

@media screen and (max-width: 991px) {
	.about-cloud-image.bridge {
		top: 14px;
	}

	.single-column-section {
		max-width: 664px;
		padding-right: 32px;
		padding-left: 32px;
	}

	.full-width-section {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media screen and (max-width: 479px) {
	.full-width-section {
		padding-top: 24px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.about-cloud-image.bridge {
		height: 130px;
	}

	.full-width-section {
		padding-top: 24px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.case-paragraph {
		font-size: 16px;
	}

	.single-column-section {
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.about-cloud-image.bridge {
		height: 330px;
	}
}
