.footer {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	margin-top: auto;
	padding: 48px 24px 32px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
	background-color: #f1f1f1;
	background-attachment: scroll !important;
}

.caption {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	font-weight: 400;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	max-width: 600px;
	margin: 12px auto;
	padding: 12px 8px;
	color: #707072;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-attachment: scroll !important;
}

.social-links-wrapper {
	-webkit-text-size-adjust: 100%;
	font-family: Inter, sans-serif;
	color: #323235;
	font-size: 18px;
	line-height: 140%;
	font-weight: 400;
	-webkit-box-direction: normal;
	box-sizing: border-box;
	display: flex;
	margin-bottom: 21px;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	background-attachment: scroll !important;
}

.social-icon-link {
	width: 44px;
	height: 44px;
	margin-right: 15px;
	margin-left: 15px;
	border-radius: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease-out;
}
