.particle-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.particle {
	position: absolute;
	background-color: #333;
	border-radius: 50%;
}

.particle-1 {
	position: absolute;
	top: 90px;
	right: 159px;
	width: 20px;
	height: 20px;
	border-radius: 6px;
	background-color: #323235;
	opacity: 0.4;
	-webkit-transform: rotate(51deg);
	-ms-transform: rotate(51deg);
	transform: rotate(51deg);
}

.particle-2 {
	position: absolute;
	top: 200px;
	right: 600px;
	width: 24px;
	height: 24px;
	border-radius: 6px;
	background-color: #323235;
	opacity: 0.3;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}

.particle-3 {
	position: absolute;
	top: 94px;
	right: 624px;
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: #323235;
	opacity: 0.4;
	-webkit-transform: rotate(-17deg);
	-ms-transform: rotate(-17deg);
	transform: rotate(-17deg);
}
.particle-4 {
	position: absolute;
	top: 64px;
	right: 428px;
	width: 15px;
	height: 15px;
	border-radius: 5px;
	background-color: #000;
	opacity: 0.2;
	-webkit-transform: rotate(26deg);
	-ms-transform: rotate(26deg);
	transform: rotate(26deg);
}
.particle-5 {
	position: absolute;
	top: 203px;
	right: 448px;
	width: 12px;
	height: 12px;
	border-radius: 4px;
	background-color: #323235;
	opacity: 0.2;
	-webkit-transform: rotate(-11deg);
	-ms-transform: rotate(-11deg);
	transform: rotate(-11deg);
}

.particle-6 {
	position: absolute;
	top: 251px;
	right: 262px;
	width: 12px;
	height: 12px;
	border-radius: 4px;
	background-color: #323235;
	opacity: 0.2;
	-webkit-transform: rotate(14deg);
	-ms-transform: rotate(14deg);
	transform: rotate(14deg);
}

.particle-7 {
	position: absolute;
	top: 213px;
	right: 104px;
	width: 9px;
	height: 9px;
	border-radius: 2px;
	background-color: #323235;
	opacity: 0.2;
	-webkit-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	transform: rotate(-14deg);
}

.particle-8 {
	position: absolute;
	top: 111px;
	right: 64px;
	width: 11px;
	height: 11px;
	border-radius: 3px;
	background-color: #323235;
	opacity: 0.15;
	-webkit-transform: rotate(17deg);
	-ms-transform: rotate(17deg);
	transform: rotate(17deg);
}
